.client__item:not(:last-child) {
    margin-right: 30px;
}

.client__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid $primary-icon-color;
    border-radius: 4px;
    transition: border $transition-duration;

    &:hover,
    &:focus {
    border: $border-hover;
}
    &:hover .client__icon,
    &:focus .client__icon {
    fill: $icon-hover-color;
}
}

.client__icon {
    fill: $primary-icon-color;
    transition: fill $transition-duration;
}



