.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $footer-bgc;
    
}

    .footer--centered {
    @media screen and (max-width:767px) {
        display: block;
        text-align: center;
    }

     @media screen and (min-width: 1200px) {   
    display: flex;
    align-items: baseline;
}
}
.footer__tablet {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        align-items: baseline;
        text-align: center;
        justify-content: space-between;
    }
        @media screen and (min-width: 1200px) {
            display: flex;
            align-items: baseline;
        }
        }



.footer__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: #FFFFFF;
}
