.header {
  border-bottom: 1px solid #ECECEC;
  @media screen and (max-width: 767px) {
  position: relative;
  position: fixed;
  top: 0;
  left: 0; 
  height: 60px;
  width: 100%;
  background-color: $hero-color;
   z-index: 1;
}
}


.header__container {
  display: flex;  
  align-items: center;
}