.contact {
    margin-left: auto;
}

.contact__item:not(:first-child) {
    margin-left: 50px;
}

.contact__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $primary-text-color;
    height: 16px;
    transition: color $transition-duration;

    &:hover,
    &:focus {
            color: $hover-color;
        }
    &:hover .contact__icon,
    &:hover .contact__icon {
    fill: $hover-color;
}    
}

.contact__icon {
    background-size: cover;
    margin-right: 10px;
    fill: currentColor;
    transition: fill $transition-duration;
}

