.hero {
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0.06em;
    color: $hero-color;
    width: 480px;
    height: 400px;
    background-size: 480px 400px;
    background-image: $linear-gradient, url(/images/mobile/Header-mobile@1x.jpg);
    background-color: $bgc-hero;

    @media screen and (min-width: 480px) {
        @media screen and (min-device-pixel-ratio:2), 
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        .hero {
            background-image: url(/images/mobile/Header-mobile@2x.jpg);
        }
    }
    }
    @media screen and (min-width: 768px) {
        width: 768px;
        height: 400px;
        background-size: 768px 400px;
        background-image: $linear-gradient, url(/images/tablet/Header-tablet@1x.jpg);
        @media screen and (min-device-pixel-ratio:2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                .hero {
                    background-image: url(/images/tablet/Header-tablet@2x.jpg);
                }
    }
    }
    @media screen and (max-width: 1199px) {
        padding-bottom: 118px;
        padding-top: 118px;
        
    }
    @media screen and (min-width: 1200px) {
        width: 1600px;
        height: 600px;
        background-size: 1600px 600px;
        background-image: $linear-gradient, url(/images/descktop/header-desktop@1x.jpg);
        padding-bottom: 200px;
        padding-top: 200px;
        @media screen and (min-device-pixel-ratio:2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                .hero {
                    background-image: url(/images/descktop/header-desktop@2x.jpg);
                }
        
    }
}
}

.hero__title {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.06em;

    @media screen and (max-width: 1199px) {
    width: 360px;
    font-size: 26px;
    line-height: 1.61;
    }
    @media screen and (min-width: 1200px) {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;  
    }
}

.hero__button {
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    line-height: 1.9;
    align-items: center;
    font-family: inherit;
    color: $hero-color;
    background: $accent-color;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    border: 0;
    cursor: pointer;
    transition: background $transition-duration,
        box-shadow $transition-duration;

    &:hover,
    &:focus {
    background: $btn-hover;
    box-shadow: $btn-box-shadow;
} 
}

