.stuff__list {
    @media screen and (min-width: 768px) {
     display: flex;  
    }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin: -15px;
        }
        @media screen and (max-width: 1199px) {
            flex-wrap: wrap;
        }
}
.stuff__item {
    background: $hero-color;
    border-radius: 0px 0px 4px 4px;
    box-shadow: $box-shadow;

    @media screen and (max-width: 767px) {
     &:not(:last-child) {
    margin-bottom: 30px;
        }
    }
     @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
    
    }
    @media screen and (min-width: 1200px) {
     &:not(:last-child) {
    margin-right: 30px;
}   
    } 
}
.stuff__photo {
    @media screen and (max-width: 767px) {
    max-width: 450px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 354px;
        height: 374px;
    }
    @media screen and (min-width: 1200px) {
        width: 270px;
        height: 260px;
    }
}



.stuff__card {
    padding-top: 30px;
    padding-bottom: 30px;
}

.stuff__title-name {
    margin-bottom: 10px;
    font-weight: 500;
    color: $title-text-color;
}

.stuff__position {
    margin-bottom: 16px;
}

.stuff__position,
.stuff__title-name {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.stuff-social {
    display: flex;
    
    &__item:not(:last-child) {
    margin-right: 10px;
}
    @media screen and (max-width: 767px) {
    justify-content: center;
    }
    @media screen and (min-width: 768px) {
    padding-left: 74px;
    padding-right: 74px;
    }
    @media screen and (min-width: 1200px) {
    padding-left: 32px;
    padding-right: 32px;
     }
}

.stuff-social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $hero-color;
    transition: background-color $transition-duration;

    &:hover,
    &:focus {
    background-color: $accent-color;
}
    &:hover .stuff-social__icon,
    &:focus .stuff-social__icon {
    fill: $hero-color;
}
}

.stuff-social__icon {
    fill: $primary-icon-color;
    transition: fill $transition-duration;
}



